---
// import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
---
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1>Hello!</h1>
	<p>
		My name is Joe. I am a native Rhode Islander and a web developer living in the Bay area. When I'm not working on web projects, I enjoy playing music, learning carpentry,
		and making pizza. 
	</p>
			
</Layout>