---
const today = new Date();
---

<footer class="bottom-0 w-full max-w-screen-xl left-0 h-16 mx-auto absolute  flex items-center justify-center text-center">
	<p class="w-full">&copy; {today.getFullYear()} Joe Meers Jankowski</p>
</footer>