---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class=" mb-2">
	<div class="flex flex-col md:flex-row">
	<h2 class="my-5 prose prose-2xl prose-stone w-full text-center">
		{SITE_TITLE}
	</h2>
	<img class="rounded rounded-full mx-auto" src="/joe.png" alt="Joe Jankowski Image" height="120" width="120" loading="lazy" />
	</div>
	<nav class="text-center py-8">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<!-- <HeaderLink href="/about">About</HeaderLink> -->
		<HeaderLink href="https://github.com/joemeers82" target="_blank">GitHub</HeaderLink>
		<HeaderLink href="https://www.linkedin.com/in/joe-meers-jankowski-5a9b6521/" target="_blank">Linkedin</HeaderLink>
	</nav>
</header>
